<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <div class="fadeIn first" style="text-align:center">
        <h4>Sign in to your dashboard</h4>
      </div>
  
      <form name="form" [formGroup]="form" (ngSubmit)="signIn()">
    
        <div class="form-group">
          <input  type="text"  name="username" class="fadeIn second" formControlName="username"  placeholder="Username" ng-required="true">
        </div>
        

        <div class="form-group">
          <input type="password" id="password" class="fadeIn third"  formControlName="password" placeholder="Password"  required>
        </div>

        <input [disabled]="!form.valid"  type="submit" class="fadeIn fourth" value="Sign In">

        
      </form>
  
    </div>
  </div>